* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-;
}

h1 {
	color: #333;
}

p {
	color: rgb(91, 91, 91);
}

.wrapper {
	width: 100vw;
	height: 100vh;

	.center {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.game-stats {
			height: 65px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			#time {
				font-size: 3.3vw;
			}

			#flips {
				font-size: 3.3vw;
			}
		}

		.game-board {
			width: 78vw;
			height: 78vw;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;

			grid-gap: 10px;

			img {
				width: 100%;
				height: 100%;
				border-radius: 5px;
				background-color: #ff9a00;
				border: 1px solid #f75f1c;
				-webkit-user-drag: none;
				-khtml-user-drag: none;
				-moz-user-drag: none;
				-o-user-drag: none;
				user-drag: none;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.wrapper {
		width: 100vw;
		height: 100vh;

		.center {
			.game-stats {
				.time-container {
					#time {
						font-size: 2.1rem;
						span {
						}
					}
				}

				.flips-container {
					#flips {
						font-size: 2.1rem;
						span {
						}
					}
				}
			}

			.game-board {
				width: 800px;
				height: 800px;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;

				grid-gap: 10px;

				img {
					width: 100%;
					height: 100%;
					border-radius: 5px;
					background-color: #ff9a00;
					border: 1px solid #f75f1c;
					-webkit-user-drag: none;
					-khtml-user-drag: none;
					-moz-user-drag: none;
					-o-user-drag: none;
					user-drag: none;
				}
			}
		}
	}
}
